In [1]:
500 * (1.25 * 0.2)

125.0

In [2]:
def cal_profit(num_bags, price_per_bag, percentage_profit):
    return num_bags * (price_per_bag * (percentage_profit/100))

In [3]:
cal_profit(500, 1.25, 20)

125.0

In [4]:
def calc_revenue(cost, num_passengers, ticket_price):
    return num_passengers * ticket_price - cost

In [5]:
calc_revenue(5000, 29, 200)

800

# Header 1
## Header 2

* Apple
* Banana
* Orange

In [30]:
# Python has falsy values 
falsy = ["", [], {}, (), None, range(0)]

for ele in falsy: 
    print(ele, ":", bool(ele), end=".   ")
    
    if ele:
        print("{} is truthy".format(ele))
    else:
        print("{} is falsy".format(ele))
    
    print()

 : False.    is falsy

[] : False.   [] is falsy

{} : False.   {} is falsy

() : False.   () is falsy

None : False.   None is falsy

range(0, 0) : False.   range(0, 0) is falsy

In [15]:
# None: absence of value
type(None)

NoneType

In [17]:
# formatting
profit_margin = 0.75
price = 245.99

print("The price is RM{} and progit margin is {}%. So the profit is RM{}"
      .format(price, profit_margin, price*profit_margin))

The price is RM245.99 and progit margin is 0.75%. So the profit is RM184.4925

In [20]:
a_list = [False, "rtgg", 3435, None, ["A", "B", "C"]]
a_list[-2: -5]

[]

In [23]:
# creation of tuple: with or w/o parenthesis
my_tuple = ("Cat", "Meow", "Woof")
my_tuple_1 = "Cat", "Meow", "Woof"
tuple_one_ele = "Wooff",

print(type(my_tuple_1))
print(type(tuple_one_ele))

<class 'tuple'>
<class 'tuple'>

In [24]:
?my_tuple.index

In [26]:
my_dict = { "name": "chewzzz", "age": 20, "isStudent": True}
type(my_dict.items())

dict_items

In [32]:
def check_parity(n):
    divisibleBy2 = "yes" if (n % 2==0) else "no"
    return divisibleBy2
check_parity(231)

'no'

In [34]:
# using pass to do nothing to avoid error
def divisible(n):
    if n % 2 == 0:
        pass      # mandatory to have at least one line of statement
    elif n % 3 == 0:
        print("Divisible by 3")
        
divisible(4)   # no output. nothing happen

In [36]:
def filter_even(number_list):
    return [x for x in number_list if x%2==0]
filter_even([x for x in range(1, 8)])

[2, 4, 6]

In [37]:
# exception
def divisionBy0(n):
    try: # step 1
        print("Calculation")   # step 2 
        result = n / 0    # step 3.Error found!
        print("Calculated successfully")
    except ZeroDivisionError: #step 4
        print("Division by 0!")
        result = None
print(divisionBy0(4))

Division by 0!
None

In [45]:
def cost_of_trip(days):
    costs = {}
    week_rent_car = days % 7 + 1
    
    costs["Paris"] = 200 + 20 * days + week_rent_car * 200
    costs["London"] = 250 + 30 * days + week_rent_car * 120
    costs["Dubai"] = 370 + 15 * days + week_rent_car * 80
    costs["Mumbai"] = 450 + 10 * days + week_rent_car * 70
    
    return costs

import math

print("Lowest cost for {} days: {}".format(7, min(cost_of_trip(7))))
print("Lowest cost for {} days: {}".format(4, min(cost_of_trip(4))))
print("Lowest cost for {} days: {}".format(10, min(cost_of_trip(10))))
print("Lowest cost for {} days: {}".format(14, min(cost_of_trip(14))))

Lowest cost for 7 days: Dubai
Lowest cost for 4 days: Dubai
Lowest cost for 10 days: Dubai
Lowest cost for 14 days: Dubai

## Working with Files in Python