In [1]:
import os

# get current working dir
os.getcwd()

'C:\\Users\\USER\\Python_Basics'

In [2]:
# get list of files in current dir
print(os.listdir())

# relative path
print(os.listdir("./oop"))
print(os.listdir(".."))

['.git', '.gitignore', '.idea', '.ipynb_checkpoints', 'data-visualization', 'dataStructure', 'dictionary', 'dynamicProg.py', 'filesAndException', 'function', 'fundamental', 'jovian.ai_course_note.ipynb', 'kaggle-courses', 'list', 'local', 'oop', 'README.md', 'selection', 'testing', 'tkinter', '__pycache__']
['oop1.py', 'oop2.py', 'oop3.py', 'oop4.py']
['.android', '.atom', '.bash_history', '.cache', '.config', '.eclipse', '.git', '.gitconfig', '.gitignore', '.idlerc', '.ipython', '.jupyter', '.lesshst', '.m2', '.matplotlib', '.minttyrc', '.ms-ad', '.node_repl_history', '.p2', '.ssh', '.VirtualBox', '.vscode', '2022-05-17-07-16-14.070-VirtualBox.exe-19828.log', '2022-05-18-03-04-23.072-VirtualBox.exe-20608.log', '3D Objects', 'algo', 'AppData', 'Application Data', 'chewzzz1014.github.io', 'Contacts', 'Cookies', 'Creative Cloud Files', 'Creative Cloud Files chewziqing@gmail.com 93d52eb1df105c2e7f99b4a0044100311375b3c31aa921d1d56eb65bb58ba937', 'css-exercises', 'data-engineering-zoomcamp', 'Desktop', 'Documents', 'Downloads', 'eclipse', 'eclipse-workspace', 'Favorites', 'GitChewzzz1014', 'html-css', 'java-basics', 'javascript-exercises', 'JavaScript_Basics', 'landing-page', 'Links', 'Local Settings', 'markdown-portfolio', 'MicrosoftEdgeBackups', 'Music', 'My Documents', 'mysql-installer-web-community-8.0.28.0.msi', 'NetHood', 'network-simulation', 'New folder', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{a530169b-e3a9-11eb-aa7d-dce4073a6ca6}.TM.blf', 'NTUSER.DAT{a530169b-e3a9-11eb-aa7d-dce4073a6ca6}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{a530169b-e3a9-11eb-aa7d-dce4073a6ca6}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'odin-recipes', 'OneDrive', 'Pictures', 'PrintHood', 'Programmes', 'PycharmProjects', 'Python_Basics', 'q', 'README.md', 'Recent', 'rock-paper-scissors', 'Saved Games', 'Searches', 'SendTo', 'space-invader', 'sql-basics', 'Start Menu', 'Templates', 'um-hackathon', 'Videos', 'VirtualBox VMs', 'VisualRoute', 'VisualRoute Lite Edition-Path', 'VisualRoute-Path', 'vw', 'Web-Dev-For-Beginners', 'x.exe', 'x.log']

In [4]:
# make new dir

# if exist_ok is False, FileExistsError is raised if the target dir ady existed
# exist_ok is false by default

try:
    os.makedirs("./data", exist_ok = False)
except FileExistsError:
    print("File existed!")

print("Is directory 'data'?", ('data' in os.listdir(".")))

File existed!
Is directory 'data'? True

In [7]:
# download files into data directory using urlib module
from urllib.request import urlretrieve

url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

urlretrieve(url1, "./data/loans1.txt")
urlretrieve(url2, "./data/loans2.txt")
urlretrieve(url3, "./data/loans3.txt")

('./data/loans3.txt', <http.client.HTTPMessage at 0x1aa181ff4f0>)

In [8]:
# successfully downloaded
os.listdir("./data")

['loans1.txt', 'loans2.txt', 'loans3.txt']

## Reading from File

In [10]:
# open(location, mode) return a file object and provides methods for interacting with files
file1 = open("./data/loans1.txt", mode = 'r')

# read whole file
file1_contents = file1.read()
print(file1_contents)

file1.close()
flie1.read()   # error

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

NameError: name 'flie1' is not defined

In [11]:
# or

# close the file after block
# read whole file
with open("./data/loans1.txt", 'r') as file_obj:
    file_contents = file_obj.read()
    print(file_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [12]:
# read line by line
with open("./data/loans1.txt", 'r') as file2:
    file2_lines = file2.readlines()

# a list    
print(file2_lines)
print(type(file2_lines))

['amount,duration,rate,down_payment\n', '100000,36,0.08,20000\n', '200000,12,0.1,\n', '628400,120,0.12,100000\n', '4637400,240,0.06,\n', '42900,90,0.07,8900\n', '916000,16,0.13,\n', '45230,48,0.08,4300\n', '991360,99,0.08,\n', '423000,27,0.09,47200']
<class 'list'>

In [16]:
# retrive the data from csv
# first, retrieve the headers for each column
# then, retrieve the values and store into list

def parse_headers(header_line):
    return header_line.strip().split(",")

def parse_values(data_line):
    values = []
    for item in data_line.strip().split(","):
        if item == "":
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

# create a dict where header as key and value as its value pair
# zip(values, headers): Make an iterator that aggregates elements from each of the iterables.
def create_item_dict(values, headers):
    result = {}
    for v, h in zip(values, headers):
        result[h] = v
    return result

In [17]:
# one item in file2_lines = one row
headers = parse_headers(file2_lines[0])
print(headers)

line_2 = file2_lines[2]
print(parse_values(line_2))

print(create_item_dict(line_2, headers))

['amount', 'duration', 'rate', 'down_payment']
[200000.0, 12.0, 0.1, 0.0]
{'amount': '2', 'duration': '0', 'rate': '0', 'down_payment': '0'}

In [18]:
def read_csv(path):
    result = []
    with open(path, "r") as f:
        lines = f.readlines()
        
        headers = parse_headers(lines[0])
        
        for data_line in lines[1:]:
            values = parse_values(data_line)
            
            item_dict= create_item_dict(values, headers)
            
            result.append(item_dict)
    return result

In [19]:
# compare the file with what we parsed
with open("./data/loans2.txt") as file2:
    print(file2.read())

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [20]:
read_csv("./data/loans2.txt")

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 4633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0},
 {'amount': 983000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}]

In [22]:
# calculating equal monthly installment for a loan
# get data from loans2.txt

import math

def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    
    try:
        emi = loan_amount * rate * ((1+rate)**duration)/(((1+rate)**duration) - 1)
    except ZeroDivisionError:
        emi = loan_amount / duration
        
    return math.ceil(emi)

loans2 = read_csv("./data/loans2.txt")
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 4633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0},
 {'amount': 983000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}]

In [23]:
for loan in loans2:
    loan["emi"] = loan_emi(loan["amount"],
                          loan["duration"],
                          loan["rate"],
                          loan["down_payment"])
    
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 80125},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 278005},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 2723},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 156902},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 797}]

## Writing to File

In [24]:
# if the file doesn't exist, create the file
with open("./data/emis2.txt", "w") as f:
    for loan in loans2:
        f.write("{},{},{},{},{}\n".format(
        loan["amount"],
        loan["duration"],
        loan["rate"],
        loan["down_payment"],
        loan["emi"]))

In [25]:
os.listdir("./data")

['emis2.txt', 'loans1.txt', 'loans2.txt', 'loans3.txt']

In [26]:
with open("./data/emis2.txt", "r") as r:
    print(r.read())

828400.0,120.0,0.11,100000.0,80125
4633400.0,240.0,0.06,0.0,278005
42900.0,90.0,0.08,8900.0,2723
983000.0,16.0,0.14,0.0,156902
15230.0,48.0,0.07,4300.0,797

In [29]:
# accept a list of dictionary and write it into csv file
# where one dict = one row
def write_csv(items, path):
    with open(path, "w") as f:
        if len(items) == 0:
            return
        
        # write headers
        headers = list(items[0].keys())
        f.write(",".join(headers)+"\n")
        
        # write one item per line
        for item in items:
            values = []
            for header in headers:
                values.append(str(item.get(header, "")))
            f.write(",".join(values)+"\n")

In [30]:
# read from loans3, calculate emi and write back into another csv
loans3 = read_csv("./data/loans3.txt")

for loan in loans3:
    loan["emi"] = loan_emi(loan["amount"],
                          loan["duration"],
                          loan["rate"],
                          loan["down_payment"])

write_csv(loans3, "./data/emis3.txt")

In [31]:
 with open("./data/emis3.txt", "r") as f:
        print(f.read())

amount,duration,rate,down_payment,emi
45230.0,48.0,0.07,4300.0,2981
883000.0,16.0,0.14,0.0,140941
100000.0,12.0,0.1,0.0,14677
728400.0,120.0,0.12,100000.0,75409
3637400.0,240.0,0.06,0.0,218245
82900.0,90.0,0.07,8900.0,5192
316000.0,16.0,0.13,0.0,47851
15230.0,48.0,0.08,4300.0,897
991360.0,99.0,0.08,0.0,79348
323000.0,27.0,0.09,4720010000.0,-470717536
528400.0,120.0,0.11,100000.0,47125
8633400.0,240.0,0.06,0.0,518005
12900.0,90.0,0.08,8900.0,321

## Using Pandas to Read and Write CSV Files

In [32]:
movies_url = "https://gist.githubusercontent.com/aakashns/afee0a407d44bbc02321993548021af9/raw/6d7473f0ac4c54aca65fc4b06ed831b8a4840190/movies.csv"

urlretrieve(movies_url, 'data/movies.csv')

movies = read_csv("data/movies.csv")

movies

[{'title': 'Fast & Furious', 'description': '"A movie'},
 {'title': 'The Dark Knight', 'description': '"Gotham'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

In [34]:
import pandas as pd

movies_df = pd.read_csv("data/movies.csv")
movies_df

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

In [35]:
# df -> dict
movies = movies_df.to_dict("records")
movies

[{'title': 'Fast & Furious', 'description': 'A movie, a race, a franchise'},
 {'title': 'The Dark Knight',
  'description': 'Gotham, the "Batman", and the Joker'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

In [37]:
# dict -> csv
write_csv(movies, "movies2.csv")
pd.read_csv("movies2.csv")

,,title,description
Fast & Furious,A movie,a race,a franchise
The Dark Knight,Gotham,"the ""Batman""",and the Joker
Memento,A guy forgets everything every 15 minutes,NaN,NaN